:root{
    --primary--color:#fe6132;
    --white--color:#fff;
    --black--color:#000;
    --text--color:#333;
    --border--color:#dbdbdb;
    --star-gold--color:#ffce3e;
    --header-height:120px;
    --nav__bar-height:34px; 
    --header-menu:20px; 
    --header-with-search-height:calc(var(--header-height)- var(--nav__bar-height) - var(--header-menu))  
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
/* responsive */

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full-width{
    width: 100%;
}

.grid-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* text */
.grid-column-2{
padding-left: 5px;
padding-right: 5px;
width: 16%;
}

.grid-column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;   
}

.grid-column-4{
    width: 33%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid-column-8{
    width: 66%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid-column-10{
    padding-left: 5px;
    padding-right: 5px;
    width:84%;
}
/* animasion */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
   to{
    opacity: 1;
   }
}

@keyframes growth{
    from{
      transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
      }
}

/* modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1;
}


.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal__body{
--growth-from:0.7;    
--growth-to:1;
margin: auto;
z-index:1;
position: relative;
animation: growth linear 0.1;
}

.js-modal{
    display: none;
}

.js-modal.open{
    display: flex;
}

.js-modal__body-login{
    display: none;
}

.js-modal__body-login.open{
    display: flex;
}


.js-modal__body-register{
    display: none;
}

.js-modal__body-register.open{
    display: flex;
}

/* button stye */

.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text--color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn--sixe-s{
    height: 30px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.btn.btn-primary{
    background-color: var(--primary--color);
    color: var(--white--color);
}

/* selecttion */
.select-input{
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white--color);
    min-width: 200px; 
    display: flex;
    justify-content: space-between;  
    align-items: center;
    position: relative;
}

.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4rem;
}

.select-input:hover .select-input-list{
    display: block;
}

.select-input-list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white--color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input-link{
    font-size: 1.4rem;
    color: var(--text--color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
    
}



.select-input-link:hover{
    color: var(--primary--color);
}



.modal-baner{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(22, 2, 2, 0.4);
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
}

.modal-baner-conter{
        width: 400px;
        max-width: calc(100% - 50px);
        min-width: 200px;
        position: relative;
        top: 0px;
        left: 55px;
}

.modal-baner-img{
    width: 365px;
    height: 510px;
}

.modal-baner-close{
    color:var(--text--color);
    padding: 8px 8px 5px 8px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: #fff;
    border-radius: 45%;
}

.baner-icon{
    font-size: 1.4rem;
}

.js-modal-baner.open{
    display: none;
}

.Paginatiton{
    display: flex;
    justify-content: center;
    padding:10px;
    text-align: center;
    list-style: none;
}
.Paginatiton li{
    background-color: #ffffffBD;
    padding:10px 20px;
    display: inline-block;
    margin:20px 10px;
    cursor: pointer;
    font-weight: 900;
    font-size: 2rem;
}
.Paginatiton .active{
    background-color: var(--primary--color);
    color:#fff;
}



